ul {
  margin-top: 10px;
}

.my-logo {
  height: 40px;
  width: 70px;
  background-color: #669999;
}

.my-logo p {
  font: bold 30px Georgia, serif;
  text-align: center;
  padding-top: 4px;
}

.page-header {
  margin-top: 10px;
}

.cust-red {
  background-color: #996666;
}
